<!-- <h1 class="heading -large">{{ home.title | ExampleFilter }}</h1>
<h3 class="heading -medium">Here is a fancy number served up courtesy of Angular: <span class="number-example">{{ home.number }}</span></h3> -->
<!-- <div example-directive title="WOW!" click-message="You clicked me!">Directive is not loaded.</div> -->
<div class="alert alert-info" role="alert">Shareable link:
    <a href="{{ url }}" target="_blank" class="alert-link">{{ url }}</a>
</div>
<hr/>
<div id="firepad-container">
</div>
<button id="fetchbtn" ng-click="run()">Run</button>
<br>
<pre>http status code: {{status}}</pre>
<pre>http response data: {{data}}</pre>
<!-- <div id="firepad-container" ui-ace="{
                onLoad: aceLoaded,
                onChange: aceChanged,
                mode: 'javascript', 
                require: ['../node_modules/ace/ext-language_tools.js'],                          
                advanced: {
                  enableSnippets: true,
                  enableBasicAutocompletion: true,
                  enableLiveAutocompletion: true,
                  fontSize: '18px',
                }
              }">
</div>
 -->
<!-- <div id="firepad-container" ui-codemirror="{
      lineNumbers: true,
      theme:'twilight',
      lineWrapping : true,
      mode: 'javascript'
    }" 
></div> -->
<!-- <div id="firepad-container" ui-codemirror="{
                                 onLoad : codemirrorLoaded,
                                 lineNumbers: true,
                                 mode: 'javascript'
             }">
</div>
 -->
<!-- <h1>Ace</h1> -->
