<div class="alert alert-info" role="alert">Public shareable link:
    <a href="#/" class="alert-link">http://collaborate/3489ut</a>
</div>
<div class="row">
    <div class="col-sm-9">
        <!-- <div ui-ace hljs hljs-no-escape> -->
        <!-- <pre><code class="cpp"></code></pre> -->
        <div ui-ace="{mode: 'c_cpp', 
   require: ['../static/js/ext-language_tools.js'],
   advanced: {
      enableSnippets: true,
      enableBasicAutocompletion: true,
      enableLiveAutocompletion: true
      
  }}">#include&lt;bits/stdc++.h&gt;; &#13;&#10;using namespace std; &#13;&#10;int main() &#13;&#10;{ &#13;&#10; return 0; &#13;&#10;}
        </div>
      <!-- setHighlightActiveLine:true -->
    </div> 
        <div class="col-sm-3">
            CHAT
        </div>
    </div>
    <!-- #include&lt;bits/stdc++.h&gt;; &#13;&#10;using namespace std; &#13;&#10;int main() &#13;&#10;{ &#13;&#10;   return 0; &#13;&#10;} -->
