<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Collaborate-It | Real Time Code Collaborator</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- {% load staticfiles %} -->
    <!-- <link href="../static/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="/static/login/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="{% static 'login/css/bootstrap.min.css' %}" rel="stylesheet"> -->
    <link href="/static/login/css/style.css" rel="stylesheet">
    <link href="/static/login/css/login.css" rel="stylesheet">
</head>

<body ng-app="myapp">
    <!-- <div class="container"> -->
    <div class="container-fluid">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/">Collaborate-It</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="#active"><a href="#/">Code</a></li>
                        <li><a href="#about">About</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <div class="btn-group" role="group" aria-label="...">
                                <a href="#login" type="button" class="btn btn-primary ">Login</a>
                                <a href="#register" type="button" class="btn btn-success ">Register</a>
                            </div>
                        </li>
                        <!-- <li><a href="#login">Login Or Register</a></li> -->
                    </ul>
                </div>
            </div>
        </nav>
        <div ng-view></div>
    </div>
    <!-- </div> -->
    <!-- /.container -->
    <!-- {% load staticfiles %} -->
    <!-- <script src="../static/js/angular.min.js"></script> -->
    <script src="/static/login/js/angular.min.js"></script>
    <script src="/static/login/js/angular-route.min.js"></script>
    <script src="/static/login/js/jquery-3.1.1.min.js"></script>
    <script src="/static/login/js/bootstrap.min.js"></script>
    <script src="/static/login/js/require.js"></script>
    <script src="/static/login/js/ace.js"></script>
    <script src="/static/login/js/ui-ace.min.js"></script>
    <script src="/static/login/js/mode-c_cpp.js"></script>
    <script src="/static/login/js/ext-language_tools.js"></script>
    <script src="/static/login/js/login.js"></script>
    <script src="/static/login/js/app.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
    <script src="/static/login/js/angular-recaptcha.min.js"></script>
</body>

</html>
