{% load compress %}
{% load staticfiles %}

{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/material.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/ripples.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog-theme-default.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'lib/snackbarjs/snackbar.min.css' %}" />

    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link href="css/style.css" rel="stylesheet"> -->
<!-- <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/login.css' %}" /> -->

    <!-- <link href="css/login.css" rel="stylesheet"> -->
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/404.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/index.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/twilight.css' %}" />

{% endcompress %}
